<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <!--
  Frond Web Development - https://frond.io
  -->
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
