.c-button {
  background: none;
  border: 1px solid $body-color;
  border-radius: 0;
  padding: 0.5rem;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &::before {
    background-color: $green;
    bottom: 0;
    content: '';
    height: 0%;
    left: 0;
    position: absolute;
    transition: height 0.15s;
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    height: 100%;
  }
}
