a {
  display: inline-block;
  color: $link-color;
  position: relative;
  text-decoration: underline;
  transition: all .15s;
  text-decoration-color: $green !important;

  @media screen and (min-width: $mobile-min) {
    text-decoration: underline;

    &::before {
      background-color: $green;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      left: 0%;
      position: absolute;
      transition: all .15s;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      text-decoration-color: $green;
    }
  
    &:hover::before {
      left: -0.15em;
      height: 62%;
      width: calc(100% + 0.3em);
    }
  }
}
