@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Share Regular'), local('Share-Regular'), url('~assets/fonts/Share-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Share';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Share Regular Italic'), local('Share-RegularItalic'), url('~assets/fonts/Share-RegularItalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Share Bold'), local('Share-Bold'), url('~assets/fonts/Share-Bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Share';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Share Bold Italic'), local('Share-BoldItalic'), url('~assets/fonts/Share-BoldItalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
