.page-enter-active, .page-leave-active {
  transition: all .15s
}

.page-enter, .page-leave-active {
  transform: scale(0) skew(10deg, 10deg);
}

.page-enter-to, .page-leave {
  transform: scale(1) skew(0deg, 0deg);
}
