<template>
  <NuxtLink class="TheLogo" :to="localePath('index')">
    <img class="TheLogo__img" src="~/assets/images/logo.png" />
  </NuxtLink>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class TheLogo extends Vue {}
</script>

<style lang="scss" scoped>
@import '~assets/scss/settings.breakpoints';

.TheLogo {
  &::before {
    display: none;
  }

  &__img {
    display: block;
    margin: 0 auto;
    max-width: 80%;

    @media screen and (min-width: $mobile-min) {
      max-width: 100%;
    }
  }
}
</style>
