<template>
  <div class="TheLanguageSelection">
    <ul class="TheLanguageSelection__list">
      <li
        v-for="locale in availableLocales"
        :key="locale.code"
        class="TheLanguageSelection__list-item"
      >
        <NuxtLink
          :to="switchLocalePath(locale.code)"
          class="TheLanguageSelection__link"
        >
          {{ locale.name }}
        </NuxtLink>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class TheLanguageSelection extends Vue {
  $i18n!: any;

  get availableLocales() {
    return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale);
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/settings.breakpoints';
@import '~assets/scss/tools.list-unstyled';

.TheLanguageSelection {
  text-transform: none;

  &__list {
    @include list-unstyled;
  }

  &__list-item {
    padding-bottom: 0.5rem;
  }
}
</style>
