<template>
  <nav ref="menu" class="TheMenu" :class="{ 'is-shown': isShown }">
    <div
      v-for="menuItemKey in menuItemKeys"
      :key="menuItemKey"
      class="TheMenu__item"
    >
      <NuxtLink
        class="TheMenu__link"
        :to="localePath(menuItemKey, $i18n.locale)"
      >
        {{ $t(menuItemKey) }}
      </NuxtLink>
    </div>
    <div class="TheMenu__item">
      <TheLanguageSelection />
    </div>
  </nav>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import TheLanguageSelection from './TheLanguageSelection.vue';

@Component({
  components: { TheLanguageSelection },
})
export default class TheMenu extends Vue {
  @Prop({ required: true, type: Boolean })
  isShown!: boolean;

  menuItemKeys: string[] = ['index', 'contact'];
  linkEls: HTMLAnchorElement[] = [];

  mounted() {
    this.linkEls = this.findLinkEls();
    this.addLinkEventListeners(this.linkEls);
  }

  beforeDestroyed() {
    this.removeLinkEventListeners(this.linkEls);
  }

  findLinkEls(): HTMLAnchorElement[] {
    const menuEl = this.$refs.menu as HTMLElement;
    return menuEl
      ? Array.prototype.slice.call(menuEl.querySelectorAll('a'))
      : [];
  }

  addLinkEventListeners(linkEls: HTMLAnchorElement[]): void {
    linkEls.forEach((linkEl: HTMLAnchorElement) => {
      linkEl.addEventListener('click', this.emitHideMenu);
    });
  }

  removeLinkEventListeners(linkEls: HTMLAnchorElement[]): void {
    linkEls.forEach((linkEl: HTMLAnchorElement) => {
      linkEl.removeEventListener('click', this.emitHideMenu);
    });
  }

  emitHideMenu(): void {
    this.$emit('hide-menu');
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/settings.breakpoints';
@import '~assets/scss/settings.colors';
@import '~assets/scss/settings.theme';

.TheMenu {
  align-items: center;
  background-color: $body-bg;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  font-family: 'Share Tech', sans-serif;
  height: 100%;
  justify-content: center;
  left: 0;
  max-width: 100%;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.25s;
  width: 100%;
  z-index: 9000;

  &.is-shown {
    transform: translateX(0%);
  }

  &__item {
    align-items: center;
    display: flex;
    text-transform: uppercase;

    & + & {
      padding-top: 1rem;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    text-shadow: none;
    white-space: nowrap;
  }
}
</style>
