<template>
  <button
    class="TheMenuToggle hamburger hamburger--slider"
    :class="{ 'is-active': isActive }"
    type="button"
    @click="$emit('toggle-menu')"
  >
    <span class="hamburger-box">
      <span class="TheMenuToggle__bar hamburger-inner" />
    </span>
  </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component
export default class TheMenuToggle extends Vue {
  @Prop({ required: true, type: Boolean })
  isActive!: boolean;
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/settings.breakpoints';
@import '~assets/scss/settings.colors';
@import '~assets/scss/settings.theme';

.TheMenuToggle {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 9999;

  &.is-active {
    position: fixed;
  }

  &__bar {
    &,
    &::before,
    &::after {
      background-color: $body-color;
    }
  }

  &.is-active &__bar {
    &,
    &::before,
    &::after {
      background-color: $body-color;
    }
  }
}
</style>
