<template>
  <transition name="page">
    <div class="TheNavbar">
      <div v-if="!isHomepage" class="o-container">
        <TheMenu />
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import TheMenu from '~/components/TheMenu.vue';

@Component({
  components: { TheMenu },
})
export default class TheNavbar extends Vue {}
</script>

<style lang="scss" scoped>
@import '~assets/scss/settings.colors';
@import '~assets/scss/settings.theme';

.TheNavbar {
  padding: 1rem 0;
}
</style>
