<template>
  <div class="LayoutDefault">
    <TheMenuToggle
      :is-active="isMenuShown"
      @toggle-menu="isMenuShown = !isMenuShown"
    />
    <div class="o-container">
      <div class="LayoutDefault__wrap">
        <TheLogo />
        <TheMenu :is-shown="isMenuShown" @hide-menu="isMenuShown = false" />
        <main class="LayoutDefault__content">
          <nuxt />
        </main>
      </div>
    </div>
    <div class="LayoutDefault__img-wrap">
      <img class="LayoutDefault__img" src="../assets/images/fern_video_2.png" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator';
import TheLogo from '~/components/TheLogo.vue';
import TheMenu from '~/components/TheMenu.vue';
import TheMenuToggle from '~/components/TheMenuToggle.vue';
import TheLanguageSelection from '~/components/TheLanguageSelection.vue';

@Component({
  components: {
    TheLogo,
    TheMenu,
    TheMenuToggle,
    TheLanguageSelection,
  },
})
export default class LayoutDefault extends Vue {
  isMenuShown: boolean = false;

  @Watch('isMenuShown')
  handleIsMenuShownChanged(isMenuShown: boolean) {
    document.body.classList.toggle('has-menu-shown', isMenuShown);
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/settings.colors';
@import '~assets/scss/settings.breakpoints';

.LayoutDefault {
  min-height: 100vh;
  padding-top: 4rem;
  position: relative;

  @media screen and (min-width: $mobile-min) {
    padding-top: 3rem;
  }

  &__wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 11rem;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $mobile-min) {
      padding-bottom: 27.5rem;
    }
  }

  &__img-wrap {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -2;
  }

  &__img {
    display: block;
    filter: contrast(90%);
    margin: 0 auto;
    max-width: 100%;
    transition: background-color 0.15s;
  }
}
</style>
