<template>
  <h1 class="LayoutError__error">
    {{ $t('Error') }} {{ error.statusCode }}: {{ $t(error.message) }}
  </h1>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component
export default class LayoutError extends Vue {
  @Prop({ required: true, type: Object })
  error!: Error;
}
</script>
