<template>
  <div class="PageContact">
    <h1>{{ $t('Contact') }}</h1>
    <div>
      <a :href="`mailto:${mail}`">
        <FontAwesomeIcon
          class="PageContact__icon"
          icon="envelope"
          size="xs"
        />{{ mail }}
      </a>
    </div>
    <div>
      <a href="/frond.pub.asc" download>
        <FontAwesomeIcon class="PageContact__icon" icon="key" size="xs" />{{
          $t('PGP key')
        }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({
  head() {
    if (!this || !this.$t) {
      return { title: 'Frond Web Development' };
    }
    return {
      title: `${this.$t('contact')} | ${this.$t('Frond Web Development')}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('_description.contact'),
        },
      ],
    };
  },
})
export default class PageContact extends Vue {
  mailEncoded: string = 'Y29udGFjdEBmcm9uZC5pbw==';

  get mail(): string {
    return atob(this.mailEncoded);
  }
}
</script>

<style lang="scss" scoped>
.PageContact {
  &__icon {
    margin-right: 0.5rem;
  }
}
</style>
