<template>
  <div class="PageHome">
    <h1>{{ $t('Frond Web Development') }}</h1>
    <p
      v-html="
        $t(
          'Web development with free software for social and solidarity projects.'
        )
      "
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({
  head() {
    if (!this || !this.$t) {
      return { title: 'Frond Web Development' };
    }
    return {
      title: this.$t('Frond Web Development'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('_description.index'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('_description.index'),
        },
      ],
    };
  },
})
export default class Home extends Vue {}
</script>
